// Global Variables
$mainColor: #e50914;
$pargraphColor: #8c8c8c;

// Home Variables
$borderColor: #222;
$mainBlue: #0071eb;
$qBGColor: #303030;

// Footer Variables
$textColor: #757575;

// Screen Breakpoint
$screenWidth: (
    "sm": 600px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
);

// Footer Hover Color

$footerHovColor: (
    "blue": #0a66c2,
    "white": white,
);

%MaskImg {
    mask-image: -webkit-linear-gradient(top, #141414 30%, transparent);
}
