@import "./Helpers/mixin";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input {
    border: none;

    &:focus,
    &:active {
        outline: none;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    // pointer-events: none;
    // object-fit: cover;
    object-position: center;
}

// img {
//     object-position: center;
//     mask-image: -webkit-linear-gradient(top, $secondColor 30%, transparent);
// }

ul {
    list-style-type: none;
}

button {
    border: none;

    &:hover {
        opacity: 0.8;
    }
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;

    @include md {
        width: 90%;
    }

    @include lg {
        width: 70%;
    }

    @include xl {
        width: 50%;
    }
}

.ReactModal__Body--open,
.ReactModal__Html--open {
    overflow: hidden;
}

.ReactModalPortal {
    position: relative;
    z-index: 1003;
}

.bg-sc {
    background-color: $secondColor;
}

.mt--17vh {
    margin-top: -17vh;
    position: relative;
}

.pl {
    padding-inline-start: 0.5rem;

    @include md {
        padding-inline-start: 3rem;
    }
}
